* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.replaybtn{
  display: inline-block;
  position: absolute;
  z-index: 10;
}

.main-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #27ae60;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.game-box {
  display: flex;
  justify-content: center;
  width: 90%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}


.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  width: calc(100%-100px);
  background-color: #f1c40f;
  z-index: 100;
  margin: 5px;
  font-size: 50px;
  font-weight: bold;
}



